// COLORS
$primary-color: #09467c;
$secondary-color: #5195d2;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #0c4070;

$dark-grey: #b8b4b4;

$dark-blue-text: #5195d2; // For Headings

// FONT SIZE
$default-font-size: 2.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
